
<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Homework #10</h1>
            <p>By: Sean Callaghan, Annette Seto</p>
        </div>

        <h2>Coupons Available</h2>
        <ul>
            <% employees.forEach(function(employee) { %>
                <li><%= employee.name %> - <%= employee.category %></li>
            <% }); %>
        </ul>
    </main>


    
</body>
</html>